
@{
    ViewBag.Title = "find";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<form method="post">
    <table class="form-table">
        <tr>
            <td>Enter Student Name</td>
            <td><input type="text" name="Name" /></td>

        </tr>
        <tr>
            <td></td>
            <td><button type="submit">Find</button></td>

        </tr>
    </table>
</form>
